html, body {
  margin: 0;
  padding: 0;

}
canvas {
  display: block;
}
h1 {
  font-weight: bold;
  color: lightskyblue;
  font-size: 36px;
  font-family:Arial, Helvetica, sans-serif;
}

/*h2 {
  font-weight: ;
  color: #fff;
  font-size: 24px;

}

